/* .list-group-item { */
  /* line-height: 2.5; */
/* } */

.nav-extended {
  background-color: rgb(207, 148, 248); 
 
}


.page-footer{
  margin-bottom: 0;
  padding-bottom: 0;
  height: 200px;
}


body{
  background-color: rgb(146, 143, 143);
}

.booking{
 
  background-color: rgb(52, 52, 182);
  margin-right: 100px;
  margin-top: 60px;
  border-radius: 5mm;
}

.tabone{
  background-color: white;

}

.page-footer{
  background-color: rgb(207, 148, 248);
}

h3{
  color:white;
  background-color: rgba(52, 52, 182,.6);
  width: 30%;
  font-size: 30px;
}

.logo{

  z-index: 1;
  margin-left: 20px;
  margin-bottom: -30px;
  margin-top: -30px;
  margin-left: -50px;
}
