/* .list-group-item { */
  /* line-height: 2.5; */
/* } */

.nav-extended {
  background-color: rgb(207, 148, 248); 
 
}

.nav-content{
  
   background-color: rgb(108, 48, 143); 
}

.page-footer{
  margin-bottom: 0;
  padding-bottom: 0;
  height: 200px;
}


body{
   /* background-color: rgb(146, 143, 143);  */
   background-color: rgb(108, 48, 143); 
}

.booking{
 
  /* background-color: rgb(52, 52, 182); */
  background-color: rgb(91,177,201);
  margin-right: 100px;
  margin-top: 60px;
  border-radius: 5mm;

}

.tabone{
  background-color: white;

}

.page-footer{
   background-color: rgb(207, 148, 248); 
   font-weight: bold;
 
}

h3{
  color:white;
  background-color: rgba(91,177,201,.7);
  width: 30%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  

}

.logo{

  z-index: 1;
  margin-left: 20px;
  margin-bottom: -30px;
  margin-top: -30px;
  margin-left: -50px;
}

.found{
  background-color: white;
  text-align: center;
  width: 40%;
  margin-left: 60px;
  
}

.card-title{
  background-color: black;
}

.facility{
  background-color: rgb(207, 148, 248); 

  color: black;
  width: 40%;
}

.pagie {
  width: 80%;
  margin-left: 40px;
  margin-bottom: 40px;
  align-content: center;
}