.list-group-item {
  line-height: 2.5;
}

.nav-extended {
  background-color: rgb(207, 148, 248);
}

.nav-content{ 
  color: black;
}

.a.brand-logo{
  color: black;
}

.bookhere{
  font-weight: 400;
}